<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.js"></script>
<div id="content"> 正在处理中...下载完成前请不要关闭此窗口</div>
<script>
    $(document).ready(function () {
        if (typeof WebSocket != 'undefined') {
            var websocket = new WebSocket("ws://127.0.0.1:8080/export");
            var stompClient = Stomp.over(websocket);
            stompClient.connect({},()=>{
                stompClient.subscribe('/topic/greeting', function (message) {
                    console.log("默认返回消息->"+message.body)
                });
                stompClient.subscribe('/topic/send', function (message) {
                    console.log("模板发送消息->"+message.body)
                });
                setTimeout(()=>{stompClient.send("/app/greeting", {}, "hello world")}, 5000);

            });
        } else {
            alert("您的浏览器版本太旧,推荐使用谷歌浏览器chrome")
        }
    })
</script>
</body>
</html>
